.settings-screen {
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-screen__section {
  width: min(75%, 1440px);
  margin: 0 auto;
  padding: 4rem 0;
}

.settings-screen__content {
  display: grid;
  grid-template-columns: minmax(16rem, 30%) minmax(0, 70%);
  align-items: flex-start;
  gap: 5rem;
}

.settings-screen__left {
  width: 100%;
}

.settings-screen__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}
