.winner-screen--theme-da-projects {
	background-color: rgba(58, 115, 145, 1);
}

.winner-screen--theme-da-projects .winner-screen__label {
	font-family: 'Figtree', sans-serif;
	color: rgba(255, 255, 255, 1);
}

.winner-screen--theme-da-projects .winner-screen__title {
	font-family: 'Figtree', sans-serif;
	color: rgba(255, 255, 255, 1);
}

.winner-screen--theme-da-projects .winner-screen__title--ampersand {
	color: rgba(255, 255, 255, 1);
}

.winner-screen--theme-da-projects .winner-screen__home-btn {
	background-color: rgba(198, 228, 240, 1);
	border-radius: 10px;
	border: none;
	font-family: 'Figtree', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: rgba(58, 115, 145, 1);
	transition:
		background-color 140ms ease,
		color 140ms ease;
}

.winner-screen--theme-da-projects .winner-screen__home-btn:hover {
	background-color: rgba(58, 115, 145, 1);
	color: rgba(255, 255, 255, 1);
}
