.navbar--theme-da-projects .navbar__player-icon {
	width: 1.8rem;
	height: 1.8rem;
}

.navbar--theme-da-projects .navbar__current.navbar__current--blue {
	background-color: rgba(56, 125, 191, 1);
}

.navbar--theme-da-projects .navbar__current.navbar__current--orange {
	background-color: rgba(219, 116, 45, 1);
}
