.game-screen--theme-code-vibes {
	background-color: rgba(48, 49, 49, 1);
	--game-screen-match-border-width: 5px;
	--game-screen-match-border-color: rgba(117, 210, 189, 1);
	--game-screen-match-border-radius: 0;
}
