.game-screen--theme-code-vibes {
	background-color: rgba(48, 49, 49, 1);
}

.game-screen--theme-code-vibes .game-screen__card--matched {
	border-width: 5px;
	border-color: rgba(117, 210, 189, 1);
	border-radius: 0;
	box-shadow: 2px 2px 8px rgba(117, 210, 189, 0.5);
}
