.game-screen--theme-da-projects {
	background-color: rgba(255, 255, 255, 1);
	--game-screen-match-border-width: 3px;
	--game-screen-match-border-color: rgba(58, 115, 145, 1);
	--game-screen-match-border-radius: 13px;
}
